body {
  font-family: "DM Sans", sans-serif;
  background-color: #f6f6f6;
}

h1 {
  font-family: "Inconsolata", monospace;
  font-size: 175%;
}

h2 {
  font-family: "Inconsolata", monospace;
}

h4 {
  font-family: "Inconsolata", monospace;
}

nav {
  background-color: ;
}

nav ul {
  list-style-type: none;
}