body {
  font-family: "Noto Sans", sans-serif;
  background-color: #f6f6f6;
}

h1 {
  font-family: "Inconsolata", monospace;
  font-size: 175%;
}

h2 {
  font-family: "Inconsolata", monospace;
}

h4 {
  font-family: "Inconsolata", monospace;
}

main {
  display: grid;
  grid-column-gap: 15px; 
  grid-template-areas: 
    'menu main'
    'menu main'
    'menu main'
    'menu main'
    'menu main'
    'menu main';
}

nav {
  grid-area: menu;
  grid-row-start: 1;
  /*border-right: #000 solid 1px; */
  margin: 0;
  padding: auto;
  overflow: scroll;
  /*grid-row-end: 6;
  position: fixed; 
  background-color: ; */
}

nav ul {
  list-style-type: none;
}

nav li {
  padding: 25px;
  border: 1px solid #000;
}

section {
  grid-area: main;
  grid-row: auto;
  grid-column: auto;
}